button {
    border: none;
    padding: 25px;
    background-color: salmon;
    color: rgb(22, 22, 22);
    cursor: pointer;
}.div-format {
    width: 600px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: white;
    padding: 20px;
    margin-top: 10px;
}.contract-wrapper{
    border: solid 1px black;
    overflow: hidden;
    transition: all .3s ease-in-out;
    height: 200px;
}
.contracted{
    height: 0;
}